<div class="row my-3 justify-content-center align-items-stretch">
  <div class="col-8 px-1">
    <a href="https://chengine.github.io/safer-splat/" class="d-block h-100">
      <img class="img-fluid w-100 h-100 object-fit-cover d-block rounded" src="assets/img/magnetrobotics.gif" alt="safer splat" />
    </a>
  </div>
</div>
<hr />
{% assign highlights_sorted = site.highlights | sort: "date" | reverse %}
{% for highlight in highlights_sorted %}
    <div class="row py-2">
        <p><span class="pe-1">{{highlight.emoji}}</span> <b>{{ highlight.date | date: "%B %Y"}}:</b> {{highlight.content | remove: "<p>" | remove: "</p>"}}</p>
    </div>
{% endfor %}