<div class="col-auto">
    <p> <a href="mailto:sxj200@sjtu.edu.cn">email</a> </p>
    </div>
    <div class="col-auto">
        <p> <a href="./assets/pdf/xiujie_cv.pdf"> CV</a> </p>
    </div>
    <!-- <div class="col-auto">
        <p> <a href="https://x.com/SwannAiden"> twitter</a> </p>
    </div> -->
    
    <!-- <div class="col-auto"> 
        <p> <a  href="https://scholar.google.com/citations?user=feH32sgAAAAJ&hl=en&oi=ao"> google scholar</a> <p>
    </div>  -->
    <div class="col-auto">
        <p> <a  href="https://github.com/sxj2003"> github</a> </p>
</div>