<div class="row justify-content-center pt-2">
	<div class="col-12">
		<h4> Hobbies </h4>
		<p> Outside of research, I enjoy photography, climbing and camping.</p>
	</div>
</div>																																																
<div class="row justify-content-center pb-3 g-1">
    <div class="col-4 px-1">
        <div class="ratio-3-2">
            <img class="img-fluid" src="assets/img/photography.jpg" alt="Picture of photography"/>
        </div>
    </div>
    <div class="col-4 px-1">
        <div class="ratio-3-2">
            <img class="img-fluid" src="assets/img/climbing.jpg" alt="climbing"/>
        </div>
    </div>
    <div class="col-4 px-1">
        <div class="ratio-3-2">
            <img class="img-fluid" src="assets/img/camping.jpg" alt="camping"/>
        </div>
    </div>
</div>
<div class="row justify-content-center pb-3">
	<div class="col-12">
		<h4> Old Projects</h4>
		<p> Some of my old projects can be found <a class="content-button" data-target="projects">(here)</a></p>
	</div>
</div>