<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head-custom-google-analytics.html %}
    {% include head-custom.html %}
  </head>
  <body class="gradient">
    <div class>
      <div class="container">
        <div class="row justify-content-center text-center text-xl-start gx-4 pt-4">
          <!-- Image on top for mobile, right-aligned for larger screens -->
          <div class="col-12 col-xl-3 d-flex justify-content-center justify-content-xl-end mt-2 pt-3 order-1 order-xl-2">
            <a href="{{ '/' | relative_url }}">
              <img class="img-fluid rounded py-auto" style="max-height: 11.5rem;" src="{{ 'assets/img/profile2Low.jpg' | relative_url }}" alt="Picture of Sun Xiujie."/>
            </a>
          </div>
          <!-- Text content centered on mobile, left-aligned on larger screens -->
          <div class="col-10 col-xl-5 mt-2 pt-4 header d-flex flex-column order-2 order-xl-1">
            <div class="row">
              <div class="col-12">
                <h1 class="inter-banner">
                  <a href="{{ '/' | relative_url }}" style="text-decoration: none; color: inherit;">
                    Sun Xiujie
                  </a>
                </h1>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-12">
                <h4 class="subhead">Mechanical Engineering Master Student, <a href="https://www.sjtu.edu.cn/">Shanghai Jiao Tong University</a></h4>
              </div>
            </div>
            <div class="row links justify-content-center justify-content-xl-start my-auto">
              {% include links.html %}
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    
    <main class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-xl-6">
          <hr />
        </div>
      </div>
      <div class="row justify-content-center">
        {{ content }}
      </div>
    </main>
      {% include footer.html %}
    
      <script src="{{'assets/js/content_switch.js' | relative_url}}"></script>
  </body>
</html>
